@model List<Product>
@{
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Warehouse</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">SalesRecord</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("Warehouse", "Nav")">
                            Склад
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Record", "Nav")">Облік</a>
                    </li>
                </ul>
                <a href="@Url.Action("ClientCabinet", "Account")" class="btn btn-primary my-2 my-sm-0">Акаунт</a>
            </div>
        </div>
    </nav>
    <div class="container p-3">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Назва</th>
                    <th scope="col">Категорія</th>
                    <th scope="col">Опис</th>
                    <th scope="col">Кількість</th>
                    <th scope="col">Ціна,грн</th>
                    <th scope="col">Керування</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <th scope="row">@obj.Name</th>
                        <td>@obj.Category</td>
                        <td>@obj.Description</td>
                        <td>@obj.Amount</td>
                        <td>@obj.Price</td>
                        <td>
                            <div>
                                <a href="@Url.Content("~/Nav/Sale?id=" + obj.Id)" class="btn btn-second">Продати</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <a href="@Url.Action("Upsert", "Nav")" class="btn btn-primary mx-auto">Замовити</a>
        </div>
    </div>
</body>
</html>